h1 {
  color: blue;
}

#main {
    margin-top: 30vh;
}

.shouty {
    font-size: 50px;
    line-height: 1.2;
}

.quiet {
    color: #95a5a6;
}

.name {
    color: #f1c40f;
}

#feed-type {
  /* Don't twitch on toggle */
  min-width: 63px;
  border-color: rgb(206, 212, 218)
}
